<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>
<div>
    <th:block th:include="menuList">Menu</th:block>
</div>
<div>
    <form method="post" th:action="@{/admin/edit}" th:object="${userForEdit}">
        <fieldset>
            <legend>User info</legend>
            <p>
                <label th:for="user_id">ID </label>
                <input readonly type="number" th:field="*{userId}" id="user_id" value="user_id">
                <br/>
                <label th:for="password">Password </label>
                <input type="text" th:field="*{password}" th:id="password"/>
                <br/>
                <label th:for="firstname">Firstname </label>
                <input type="text" th:field="*{firstname}" th:id="firstname"/>
                <br/>
                <label th:for="lastname">Firstname </label>
                <input type="text" th:field="*{lastname}" th:id="lastname"/>
                </label>
                <br/>
                <label th:for="age">Age </label>
                <input type="number" th:field="*{age}" th:id="age"/>
                <br/>
                <label th:for="email">E-mail </label>
                <input type="text" th:field="*{email}" th:id="email"/>
                <br/>
                <label>Roles:
                    <input type="checkbox" name="authorities"
                           th:each="role : ${listOfRoles}"
                           th:text="${role.rolename}"
                           th:value="${role.roleId}"
                           th:checked="${userForEdit.roles.contains(role)}"
                    />
                </label>
            </p>
        </fieldset>
        <button type="submit">Edit info</button>
    </form>
    <br/>
    <form th:action="@{/admin/all}">
        <button type="submit">Back to allusers</button>
    </form>
</div>
</body>
</html>